.login-form {
    max-width: 400px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: red;
    border-color: red;
}

.login-form-button {
    border: 1px solid black
    /* border: none */
}