body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%
}

#alert{
  /* opacity: 1;
  animation-delay: 1s;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s; */
  /* visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear; */
}

/* @keyframes fadeInOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
} */